<html>
    <body>
        <h1> Wen Chenjingzhi DBS Share Price prediction</h1>
        <form action = "/" method = "post">
            <p>Please enter the exchange rate USD to SGD (example 1.4)</p>
            <p><input type = "number" step = "0.01" name = "rates"></p>
            <P><input type = "submit" value = "Enter"></P>
        </form>
        <p>The DBS share Prediction Using Regression is : {{result1}}</p>
        <p>The DBS share Prediction Usign Decision Tree is : {{result2}}</p>
    </body>>
</html>